.b1 {
  background: red;
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}
.b1.show {
  background-color: green;
}
.b2.show {
  background-color: yellow;
}
.b3.show {
  background-color: red;
}
.b2 {
  background: hsla(240, 100%, 50%, 0.856);
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}
.b3 {
  background: orange;
  border: none;
  color: white;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}