button:nth-child(1){
  background: red;
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}
button:nth-child(2){
  background: hsla(240, 100%, 50%, 0.856);
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}
button:nth-child(3){
  background: orange;
  border: none;
  color: white;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}