.b1 {
  background: red;
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}
.b1.show {
  background-color: rgb(255, 102, 0);
}
.b2.show {
  background-color: hsl(209, 100%, 50%);
}
.b3.show {
  background-color: hsl(49, 100%, 50%);
}
.b2 {
  background: hsl(240, 100%, 50%);
  border: none;
  color: white;
  font-size: 30px;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}
.b3 {
  background: hsl(36, 100%, 50%);
  border: none;
  color: white;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
}